// Semantic colours
$ice-grey: #c2c9cc;
$dark-graphite: #383b3d;
$white: #ffffff;
$dark-charcoal: #333;

// App colours
$primary-colour: $dark-charcoal;
$secondary-colour: $white;
$font-colour: $dark-graphite;
$border: $ice-grey;
