// Semantic colours
$zircon: #edeff0;
$eerie-black: #191b1c;
$ice-grey: #c2c9cc;
$pastel-gold: #e4cf7e;
$dark-graphite: #383b3d;
$military-green: #32563e;
$white: #ffffff;

// App colours
$page-background: $zircon;
$font-colour: $dark-graphite;
$border: $ice-grey;
$primary-colour: $pastel-gold;
$secondary-colour: $military-green;
$action-button-font: $white;
