// Semantic colours
$zircon: #edeff0;
$eerie-black: #191b1c;
$ice-grey: #c2c9cc;
$pastel-gold: #e4cf7e;
$dark-graphite: #383b3d;

// App colours
$page-background: $zircon;
$font-colour: $dark-graphite;
$border: $ice-grey;
$primary-color: $pastel-gold;
