@import "./colours.scss";

body {
  margin: 0;
  background-color: $page-background;
}

p {
  margin: 0;
  color: $font-colour;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: $border 1px solid;
  padding: 1rem;
}

.action-button {
  border-radius: 12px;
  border: 2px solid darken($primary-colour, 10%);
  padding: 1rem 2rem;
  background-color: $primary-colour;
  color: $action-button-font;
  font-size: x-large;
}

.action-button:hover {
  cursor: pointer;
  background-color: $action-button-font;
  color: $primary-colour;
  font-size: x-large;
}

.card-pair {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.game-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  gap: 6rem;
}

.home-link {
  font-size: x-large;
}

.home-link:hover {
  cursor: pointer;
  color: $primary-colour;
}

.nav-menu {
  display: flex;
  gap: 1rem;
}

.nav-menu-item-wrapper {
  border: $primary-colour 1px solid;
  border-radius: 50%;
  padding: 0.5rem;
}

.nav-menu-item-wrapper:hover {
  background-color: white;
  cursor: pointer;
}

.nav-menu-item {
  color: $primary-colour;
}
